pipeline/File_Stracture.json
{
	"name": "File_Stracture",
	"properties": {
		"activities": [
			{
				"name": "Filestracture",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Filestructure",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Extractfilestracture",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Vfilestracture",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "DataaseFilestracture",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Databasestracture",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Extractdatabasestracture",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "VDatabasestracture",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "createconcatfilestracture",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filestracture",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Stringfilestructure",
					"value": {
						"value": "@join(variables('Vfilestracture'),'|')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "createconcatdbstracture",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DataaseFilestracture",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "StringDBstructure",
					"value": {
						"value": "@join(variables('VDatabasestracture'),'|')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Comparestringstracture",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "createconcatfilestracture",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "createconcatdbstracture",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('StringDBstructure'),variables('Stringfilestructure'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[validatecolumnstructure]",
								"storedProcedureParameters": {
									"filename": {
										"value": {
											"value": "@pipeline().parameters.Filename",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "FIlevalidationstracture",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Validation",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Filename": {
										"value": "@pipeline().parameters.Filename",
										"type": "Expression"
									},
									"Colcount": {
										"value": "@pipeline().parameters.Colcount",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Filename": {
				"type": "string"
			},
			"Filestructure": {
				"type": "array"
			},
			"Databasestracture": {
				"type": "array"
			},
			"Colcount": {
				"type": "int"
			}
		},
		"variables": {
			"Vfilestracture": {
				"type": "String"
			},
			"VDatabasestracture": {
				"type": "String"
			},
			"Stringfilestructure": {
				"type": "String"
			},
			"StringDBstructure": {
				"type": "String"
			}
		},
		"annotations": []
	}
}