pipeline/File_Stracture.json
{
	"name": "File_Stracture",
	"properties": {
		"activities": [
			{
				"name": "Filestracture",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Filestructure",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variable2",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Vfilestracture",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "DatabaseFilestracture",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Databasestracture",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "VDatabasestracture",
								"value": {
									"value": "@item().Columnstracture",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "createconcatfilestracture",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filestracture",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Stringfilestructure",
					"value": {
						"value": "@join(variables('Vfilestracture'),'|')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "createconcatdbstracture",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DatabaseFilestracture",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "StringDBstructure",
					"value": {
						"value": "@join(variables('VDatabasestracture'),'|')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Comparestringstracture",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "createconcatfilestracture",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "createconcatdbstracture",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('StringDBstructure'),variables('Stringfilestructure'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[validatecolumnstructure]",
								"storedProcedureParameters": {
									"filename": {
										"value": {
											"value": "@pipeline().parameters.Filename",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "CD_errorfolder",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Stored procedure1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DelimitedText1",
									"type": "DatasetReference",
									"parameters": {
										"Filename": {
											"value": "@pipeline().parameters.Filename",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Errorfolder",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@pipeline().parameters.Filename",
											"type": "Expression"
										}
									}
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "Validation",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Validation",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Filename": {
										"value": "@pipeline().parameters.Filename",
										"type": "Expression"
									},
									"Colcount": {
										"value": "@pipeline().parameters.Colcount",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Filename": {
				"type": "string"
			},
			"Filestructure": {
				"type": "array"
			},
			"Databasestracture": {
				"type": "array"
			},
			"Colcount": {
				"type": "int"
			}
		},
		"variables": {
			"Vfilestracture": {
				"type": "Array"
			},
			"VDatabasestracture": {
				"type": "Array"
			},
			"Stringfilestructure": {
				"type": "String"
			},
			"StringDBstructure": {
				"type": "String"
			}
		},
		"annotations": []
	}
}