pipeline/Mainpipeline.json
{
	"name": "Mainpipeline",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Stored procedure1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SendMailTaskError",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"datafactoryname": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"pipelinename": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Errormessage": {
							"value": "@activity('Stored procedure1').error.message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Failure_Detailsproc]",
					"storedProcedureParameters": {
						"Errormessage": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Boolean"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}